html {
    scroll-behavior: smooth;
}

blockquote { 
    border-left: 5px solid #ddd;
    padding-left: 1em; 
}

strong {
    font-weight: bold;
}

.skip-nav-link {
    border-radius: 0 0 0.5rem 0.5rem;
    left: 50%;
    position: absolute;
    transform: translateY(-120%) translateX(-50%);
    transition: transform 325ms ease-in;
    z-index: 1000;
}

.skip-nav-link:focus {
    transform: translateY(0) translateX(-50%);
}

.skip-nav-link:hover {
    text-decoration: underline;
}

nav.social-links {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

nav.social-links a {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

footer.social-links {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

footer.social-links a {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}