---
layout: layouts/page.njk
title: What Tools Do I Use?
eleventyNavigation:
  key: Toolbox
  parentKey: About
  order: 4
---

<p>
  The following tools fit into two categories. I either use it daily or it's invaluable in specific situations 
  (for example, taking screenshots or giving presentations).
</p>

<h3>The Data I Need When I Need It</h3>

<p>
  I use a combination of four pieces of software to ensure that I always have all of the information I need at my 
  fingertips. They are: OneDrive, OneNote, Bitwarden, and Raindrop.io.
</p>

<p>
  <a href="https://www.onedrive.com" title="Microsoft OneDrive" target="_blank">OneDrive</a> is the Microsoft competitor 
  to DropBox. The main reason that I use it is storage per dollar for my family (1 TB per user for up to 6 users for 
  less than $100 a year).
</p>

<p>
  <a href="https://www.onenote.com" title="Microsoft OneNote" target="_blank">OneNote</a> is Microsoft's note taking 
  software. Evernote is a popular competitor and one that I have tried before. When OneNote was released for mobile, 
  I immediately switched back. I do miss tags sometime but not the device limitations on their free tier.
</p>

<p>
  <a href="https://bitwarden.com/" title="KeePass Password Manager" target="_blank">Bitwarden</a> is a password manager 
  tool. We have passwords for everything now and they should all be unique and varied. How does it work? You create one 
  password for your encrypted account and you place all of your other passwords into the software. There are multiple 
  tools like LastPass, KeyPass, etc. but Bitwarden is open source and it allows me to easily share specified password 
  securely with my wife.
</p>

<p>
  Last but definitely not least is <a href="https://raindrop.io/" target="_blank">Raindrop.io</a>. It's a bookmark 
  manager with full tagging support including drill down tag searching. As a developer, I tend to collect a lot of links 
  to research, articles, etc. and this is an invaluable tool to keep it all organized. It also doubles as my recipe book!
</p>

<h3>Collaboration</h3>

<p>
  I currently work on a hybrid team (some days in office and some days WFH) so having effective tools in place for 
  collaboration and communication is a must.
</p>

<p>For task and backlog tracking, I use Azure DevOps at work and GitHub for other development projects.</p>

<p>
  For voice, I use a combination of Microsoft Teams (work) and Discord (personal). They both have screen sharing 
  features that come in extremely handy when working through code with another developer.
</p>

<h3>Let's Develop Something Already!</h3>

<p>
  As a Microsoft developer with a heavy focus on web technologies, I currently have Visual Studio and Visual 
  Studio Code installed. I run Visual Studio 2022 pretty lean now and install relatively few plugins compared 
  to past installs. These are the ones that made the cut (alphabetically):
</p>

<ul>
  <li><a href="https://marketplace.visualstudio.com/items?itemName=MadsKristensen.FileIcons" target="_blank">File Icons</a></li>
  <li><a href="https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ImageOptimizer64bit" target="_blank">Image Optimizer</a></li>
</ul>

<p>
  Thanks to some really nice upgrades to VS in recent releases, I have been able to remove the following extensions 
  but they are still useful in prior versions.
</p>

<ul>
  <li><a href="https://marketplace.visualstudio.com/items?itemName=MadsKristensen.MarkdownEditor2" target="_blank">Markdown Editor</a></li>
  <li><a href="https://marketplace.visualstudio.com/items?itemName=MadsKristensen.RainbowBraces" target="_blank">Rainbow Braces</a></li>
  <li><a href="https://marketplace.visualstudio.com/items?itemName=EWoodruff.VisualStudioSpellCheckerVS2022andLater" target="_blank">Visual Studio Spell Checker</a></li>  
</ul>

<p>For Visual Studio Code, I install at least the following:</p>

<ul>
  <li>Azure Repos</li>
  <li>C#</li>
  <li>Docker</li>
  <li>GitLens</li>
  <li>Intellicode</li>
  <li>JavaScript (ES6) Code Snippets</li>
  <li>Live Share</li>
  <li>mssql (SQL Server)</li>
  <li>PowerShell</li>
  <li>Prettier</li>
  <li>vscode-icons</li>
  <li>WSL</li>
</ul>

<p>
  Everyone has their own favorite text editor and mine is <a href="http://notepad-plus-plus.org/" target="_blank">Notepad++</a>. 
  It's always the first thing that I install on a new machine and I immediately set it as my default text viewer. I also install the following plugins:
</p>

<ul>
  <li>Compare</li>
  <li>JSON Tools</li>
  <li>XML Tools</li>
</ul>

<p>
  A great tool for testing .NET code snippets, LINQ statements, etc. is <a href="http://www.linqpad.net/" target="_blank">LINQPad</a>. 
  This little application is extremely feature packed and you'll find more ways to use it every time you open it.
</p>

<p>
  I frequently rely on the following websites during my development process. They have proven to be essential tools and invaluable resources for .NET developers.
</p>

<ul>
  <li><a target="_blank" href="https://source.dot.net">.NET Source Browser</a></li>
  <li><a target="_blank" href="https://sharplab.io">SharpLab</a></li>
</ul>

<h3>Presentation Must Haves</h3>

<p>If you're giving presentations or sharing screens often, I have a couple of recommendations.</p>

<p>
  The first suggestion is <a href="http://carnackeys.com/" target="_blank">Carnac</a>. Presenters tend to forget that 
  the viewers don't know when you press Alt, Ctrl, etc. This is a little application displays those special combination 
  keystrokes so that your audience doesn't get lost when you're flying around Visual Studio using only the keyboard.
</p>

<p>
  The second is <a href="http://technet.microsoft.com/en-us/sysinternals/bb897434.aspx" target="_blank">ZoomIt</a>. 
  This application allows you to Zoom in and out of any application running in Windows. It also has some markup 
  features which are quite nice once you get used to the keyboard shortcuts.
</p>

<h3>Updates</h3>

<div class="accordion" id="updatesAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingMarch25">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMarch25" aria-expanded="true" aria-controls="collapseMarch25">
        March 2025
      </button>
    </h2>
    <div id="collapseMarch25" class="accordion-collapse collapse show" aria-labelledby="headingMarch25" data-bs-parent="#updatesAccordion">
      <div class="accordion-body">
        <ul>
          <li>Added NotePad++ plugin list.</li>
          <li>Added additional VS Code extensions.</li>
          <li>Added new section for useful websites.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingJune23">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJune23" aria-controls="collapseJune23">
        June 2023
      </button>
    </h2>
    <div id="collapseJune23" class="accordion-collapse collapse" aria-labelledby="headingJune23" data-bs-parent="#updatesAccordion">
      <div class="accordion-body">
        <ul>
          <li>Updated for latest Visual Studio 2022 releases.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSept22">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSept22" aria-expanded="false" aria-controls="collapseSept22">
        Sept 2022
      </button>
    </h2>
    <div id="collapseSept22" class="accordion-collapse collapse" aria-labelledby="headingSept22" data-bs-parent="#updatesAccordion">
      <div class="accordion-body">
        <ul>
          <li>Added Visual Studio extension list</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingJune20">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJune20" aria-expanded="false" aria-controls="collapseJune20">
        June 2020
      </button>
    </h2>
    <div id="collapseJune20" class="accordion-collapse collapse" aria-labelledby="headingJune20" data-bs-parent="#updatesAccordion">
      <div class="accordion-body">
        <a href="{{ '/posts/2020/2020-06-30-what-tools-do-i-use-june-2020-edition/' | url }}">June 2020 (Separate Post)</a>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOct13">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOct13" aria-expanded="false" aria-controls="collapseOct13">
        Oct 2013
      </button>
    </h2>
    <div id="collapseOct13" class="accordion-collapse collapse" aria-labelledby="headingOct13" data-bs-parent="#updatesAccordion">
      <div class="accordion-body">
        <a href="{{ '/posts/2013/2013-10-10-what-tools-do-i-use/' | url }}">Oct 2013 (Separate Post)</a>
      </div>
    </div>
  </div>
</div>