---
layout: layouts/page.njk
title: Dometrain Courses
eleventyNavigation:
  key: DometrainCourses
  parentKey: About
  order: 3
---

<table class="table table-striped table-sm">
  <thead>
    <tr class="table-dark">
      <th>Date</th>
      <th>Course</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for course in dometrainCourses | sortDataByDate %}
    <tr>
      <td>{{ course.date }}</td>
      <td>{{ course.name }}</td>
      <td><a href="{{ course.link }}" target="_blank">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
