<img class="rounded float-end mx-3 mb-2" src="{{ "/img/headshot-2016.jpg" | url }}" alt="" width="209" />
<p>
    I am Jeremy Knight, a software developer and architect in the greater New Orleans area. I consider myself a 
    <a href="https://en.wikipedia.org/wiki/Software_craftsmanship" target="_blank">software craftsman</a> and I am constantly looking to better both my development and management practices.
</p>
<p>
    I have a passion for mentoring. I have had the privilege to work with great developers and I enjoy 
    paying their tutelage forward. Since 2011, I have been a speaker and coordinator for local user groups. 
    I am currently coordinator for the <a href="http://www.htdnug.org/" target="_blank">Houma-Thibodaux .NET User Group</a> 
    and a volunteer for the <a href="https://www.brdnug.org/" target="_blank">Baton Rouge .NET User Group</a>. The user 
    groups are focused on helping local Microsoft developers network with peers and learn more about the technologies 
    they work with daily.
</p>
<p class="mb-0">
    I have worked extensively with Microsoft technologies such as C#, ASP.NET, and SQL Server as well as web 
    technologies such as HTML, CSS, JavaScript, jQuery, Bootstrap, Telerik, and more.
</p>
<div style="clear: both;"></div>