<h3>Portfolio</h3>

<div id="github-repos">
    <div class="card">
        <div class="card-header placeholder-glow"><span class="placeholder col-4"></span></div>
        <div class="card-body">
            <h6 class="card-subtitle placeholder-glow text-muted mb-2">
                <span class="placeholder col-1"></span>
                <span class="placeholder col-1"></span>
                <span class="placeholder col-1"></span>
            </h6>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
            </p>
            <a href="#" tabindex="-1" class="card-link disabled placeholder col-1"></a>
            <a href="#" tabindex="-1" class="card-link disabled placeholder col-1"></a>
        </div>
    </div>
</div>
