<h3>Certifications</h3>

<ul>
    <li>MCPD Web Developer 4</li>
    <li>MCTS Microsoft Windows SharePoint Services 3.0, Application Development</li>
    <li>MCTS Microsoft Office SharePoint Server 2007, Application Development</li>
    <li>MCTS .NET 3.5 ADO.NET Applications</li>
</ul>