<div class="row">
  <div class="col-12 mb-4">
    <h3>Books</h3>
    <div class="mb-3 d-flex justify-content-between flex-wrap gap-2">
        <a href="https://bigmachine.io/products/the-imposters-handbook/" target="_blank"><img alt="Imposter's Handbook" src="{{ "/img/books/imposters-handbook.jpg" | url }}" height="160" class="rounded"></a>
        <a href="http://www.amazon.com/gp/product/0131857258/" target="_blank"><img alt="Agile Principles, Patterns, and Practices" src="{{ "/img/books/agile-principles.jpg" | url }}" class="rounded"></a>
        <a href="http://www.amazon.com/gp/product/0132350882/" target="_blank"><img alt="Clean Code" src="{{ "/img/books/clean-code.jpg" | url }}" class="rounded"></a>
        <a href="https://www.amazon.com/gp/product/161729473X/" target="_blank"><img alt="Dependency Injection" src="{{ "/img/books/dependency-injection.webp" | url }}" height="160" class="rounded"></a>
        <a href="http://www.amazon.com/gp/product/0596007124/" target="_blank"><img alt="Head First Design Patterns" src="{{ "/img/books/head-first-design-patterns.jpg" | url }}" height="160" class="rounded"></a>
        <a href="http://www.amazon.com/gp/product/B002LHRM2O/" target="_blank">
          <picture>
            <source srcset="{{ "/img/books/thegoal.avif" | url }}" type="image/avif">
            <source srcset="{{ "/img/books/thegoal.webp" | url }}" type="image/webp">
            <img alt="The Goal" src="{{ "/img/books/thegoal.png" | url }}" height="160" class="rounded">
          </picture>
        </a>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h3>Software</h3>
    <ul>
      <li><a href="http://www.onedrive.com/" target="_blank">OneDrive</a> - Cloud storage</li>
      <li><a href="http://www.onenote.com/" target="_blank">OneNote</a> - Note taking</li>
      <li><a href="https://bitwarden.com/" target="_blank">Bitwarden</a> - Password manager</li>
      <li><a href="https://visualstudio.microsoft.com/vs/" target="_blank">Visual Studio</a> and <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> - Code!</li>
      <li><a href="http://notepad-plus-plus.org/" target="_blank">Notepad++</a> - Text editor</li>
      <li><a href="http://www.linqpad.net/" target="_blank">LINQPad</a> - .NET code snippet and LINQ tester</li>
      <li><a href="https://technet.microsoft.com/en-us/sysinternals/bb897434.aspx" target="_blank">ZoomIt</a> - Zoom in and out of any application</li>
      <li><a href="http://carnackeys.com/" target="_blank">Carnac</a> - Display keyboard input on screen</li>
    </ul>

    More information on the above tools can be found in the following posts:

    <ul>
        <li><a href="{{ "/toolbox/" | url}}">What Tools Do I Use?</a></li>
    </ul>
  </div>
  <div class="col-12 col-md-6">
    <h3>Content Creators</h3>
    <ul>
      {#
      <li><a href="https://www.youtube.com/channel/UCSpCNq22KHTKv736UcCkuKw" target="_blank">Dime Casts</a></li>
      #}
      <li><a href="https://www.youtube.com/@gui.ferreira" target="_blank">Gui Ferreira</a></li>
      <li><a href="https://www.youtube.com/c/JamesMontemagno" target="_blank">James Montemagno</a></li>
      <li><a href="https://www.youtube.com/c/csharpfritz" target="_blank">Jeffrey T. Fritz (csharpfritz)</a></li>
      <li><a href="https://www.youtube.com/kepowob" target="_blank">Kevin Powell</a></li>
      <li><a href="https://www.youtube.com/@MilanJovanovicTech" target="_blank">Milan Jovanović</a></li>
      <li><a href="https://www.youtube.com/c/Elfocrash/" target="_blank">Nick Chapsas</a></li>
    </ul>
  </div>
</div>

<p class="small">Recommendations Last Updated: 10 Jan 2025</p>
