<h3>Portfolio</h3>

<div class="card">
    <div class="card-header">Back to Basics: ADO.NET</div>
    <div class="card-body">
        <h6 class="card-subtitle text-muted mb-2">
            
        </h6>
        <p class="card-text">
            Originally presented on Jan 13th, 2021 to the Baton Rouge .NET User Group, “Back to Basics: ADO.NET” is a beginner topic and I’ll be 
            assuming no ADO.NET experience. All code examples will be in C# and description is as follows:
        </p>
        <blockquote>
            Microsoft says Entity Framework (EF) is “an object-relational mapper (or ORM) that eliminates the need for most of the data-access code 
            that developers usually need to write”. This session will show the basics of data access that ORMs like EF tend to obscure. It will also 
            show how to use ADO.NET to integrate with and augment EF when it falls short.
        </blockquote>
        <a href="{{ "/posts/2021/2021-01-05-back-to-basics-ado-net/" | url }}" class="card-link">Blog Post</a>
        <a href="https://github.com/jeremyknight-me/presentations" class="card-link" target="_blank">View on GitHub</a>
    </div>
    <div class="card-footer">
        <span class="badge bg-light">presentation</span>
        <span class="badge bg-light">csharp</span>
        <span class="badge bg-light">ado-net</span>
    </div>
</div>

<div id="github-repos">
    <div class="card">
        <div class="card-header placeholder-glow"><span class="placeholder col-4"></span></div>
        <div class="card-body">
            <h6 class="card-subtitle placeholder-glow text-muted mb-2">
                <span class="placeholder col-1"></span>
                <span class="placeholder col-1"></span>
                <span class="placeholder col-1"></span>
            </h6>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-12"></span>
            </p>
            <a href="#" tabindex="-1" class="card-link disabled placeholder col-1"></a>
            <a href="#" tabindex="-1" class="card-link disabled placeholder col-1"></a>
        </div>
    </div>
</div>
