<h3>Certifications</h3>

<ul class="list-group list-group-flush">
    <li class="list-group-item">MCPD Web Developer 4</li>
    <li class="list-group-item">MCTS Microsoft Windows SharePoint Services 3.0, Application Development</li>
    <li class="list-group-item">MCTS Microsoft Office SharePoint Server 2007, Application Development</li>
    <li class="list-group-item">MCTS .NET 3.5 ADO.NET Applications</li>
</ul>