<h3>Reading</h3>

<div class="mb-3">
    <a href="https://bigmachine.io/products/the-imposters-handbook/" target="_blank"><img src="{{ "/img/books/imposters-handbook.jpg" | url }}" height="160" class="rounded"></a>
    <a href="http://www.amazon.com/gp/product/0131857258/ref=as_li_ss_il?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0131857258&amp;linkCode=as2&amp;tag=knight0323-20" target="_blank"><img src="{{ "/img/books/agile-principles.jpg" | url }}" class="rounded"></a>
    <a href="http://www.amazon.com/gp/product/0132350882/ref=as_li_ss_il?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0132350882&amp;linkCode=as2&amp;tag=knight0323-20" target="_blank"><img src="{{ "/img/books/clean-code.jpg" | url }}" class="rounded"></a>
    <a href="http://www.amazon.com/gp/product/0596007124/ref=as_li_ss_il?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0596007124&amp;linkCode=as2&amp;tag=jershomonthew-20" target="_blank"><img src="{{ "/img/books/head-first-design-patterns.jpg" | url }}" height="160" class="rounded"></a>
    <a href="http://www.amazon.com/gp/product/0884271951/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0884271951&amp;linkCode=as2&amp;tag=knight0323-20&amp;linkId=LLQTJ6J6IDZVX7BC" target="_blank"><img src="{{ "/img/books/thegoal.png" | url }}" height="160" class="rounded"></a>
</div>

<h3>Software and Tools</h3>

<ul>
  <li><a href="http://www.onedrive.com/" target="_blank">OneDrive</a> – Cloud storage</li>
  <li><a href="http://www.onenote.com/" target="_blank">OneNote</a> – Note taking</li>
  <li><a href="https://bitwarden.com/" target="_blank">Bitwarden</a> – Password manager</li>
  <li><a href="https://visualstudio.microsoft.com/vs/" target="_blank">Visual Studio</a> and <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> – Code!</li>
  <li><a href="http://notepad-plus-plus.org/" target="_blank">Notepad++</a> – Text editor</li>
  <li><a href="http://www.linqpad.net/" target="_blank">LINQPad</a> – .NET code snippet and LINQ tester</li>
  <li><a href="https://technet.microsoft.com/en-us/sysinternals/bb897434.aspx" target="_blank">ZoomIt</a> – Zoom in and out of any application</li>
  <li><a href="http://carnackeys.com/" target="_blank">Carnac</a> – Display keyboard input on screen</li>
</ul>

More information on the above tools can be found in the following posts:

<ul>
    <li><a href="{{ "/posts/2020/2020-06-30-what-tools-do-i-use-june-2020-edition/" | url}}">What Tools Do I Use? June 2020 Edition</a></li>
</ul>