<img class="rounded float-sm-end mx-auto mx-sm-3 mb-2 d-block d-sm-inline" src="{{ "/img/headshot-2025.jpg" | url }}" alt="" width="209" />
<p>
    I am Jeremy Knight, a software developer and architect residing on Louisiana's Northshore. I consider myself a 
    <a href="https://en.wikipedia.org/wiki/Software_craftsmanship" target="_blank">software craftsman</a> and I 
    continuously strive to enhance both my development and management practices.
</p>
<p>
    I am passionate about mentoring. Working alongside exceptional developers has been a privilege, and I enjoy 
    paying forward their invaluable knowledge and guidance. Since 2011, I have volunteered and spoken at 
    local user groups and events. The user groups aim to help Microsoft developers network with peers and 
    deepen their understanding of the technologies they use daily. During their virtual period, I co-coordinated the 
    <a href="https://www.brdnug.org/" target="_blank">Baton Rouge .NET User Group</a> and previously coordinated 
    the Houma-Thibodaux .NET User Group.
</p>
<p class="mb-0">
    I have extensive experience with Microsoft technologies, including C#, ASP.NET, and SQL Server, as well as web 
    technologies such as HTML, CSS, JavaScript, jQuery, Bootstrap, Telerik, and more.
</p>
<div style="clear: both;"></div>
