<h3>Portfolio</h3>

<div class="card">
    <div class="card-header">Back to Basics: ADO.NET</div>
    <div class="card-body">
        <h6 class="card-subtitle text-muted mb-2">
            <span class="badge bg-dark">Presentation</span>
            <span class="badge bg-dark">C#</span>
            <span class="badge bg-dark">ADO.NET</span>
        </h6>
        <p class="card-text">
            Originally presented on Jan 13th, 2021 to the Baton Rouge .NET User Group, “Back to Basics: ADO.NET” is a beginner topic and I’ll be 
            assuming no ADO.NET experience. All code examples will be in C# and description is as follows:
        </p>
        <blockquote>
            Microsoft says Entity Framework (EF) is “an object-relational mapper (or ORM) that eliminates the need for most of the data-access code 
            that developers usually need to write”. This session will show the basics of data access that ORMs like EF tend to obscure. It will also 
            show how to use ADO.NET to integrate with and augment EF when it falls short.
        </blockquote>
        <a href="{{ "/posts/2021/2021-01-05-back-to-basics-ado-net/" | url }}" class="card-link">Blog Post</a>
        <a href="https://github.com/jeremyknight-me/presentations" class="card-link" target="_blank">GitHub</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">Photo Collage</div>
    <div class="card-body">
        <h6 class="card-subtitle text-muted mb-2">
            <span class="badge bg-dark">Application</span>
            <span class="badge bg-dark">C#</span>
            <span class="badge bg-dark">WPF</span>
        </h6>
        <p class="card-text">
            Photo Collage Screensaver is a Windows screensaver written in .NET. It takes your pictures and turns them into a beautiful collage screensaver.
        </p>
        <a href="https://github.com/jeremyknight-me/photocollage" class="card-link" target="_blank">GitHub</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">JK.Common</div>
    <div class="card-body">
        <h6 class="card-subtitle text-muted mb-2">
            <span class="badge bg-dark">Library</span>
            <span class="badge bg-dark">C#</span>
            <span class="badge bg-dark">Nuget</span>
        </h6>
        <p class="card-text">
            A utility library containing boilerplate code, extension methods, new classes, and/or improvements to existing classes.
        </p>
        <a href="https://github.com/jeremyknight-me/JK.Common" class="card-link" target="_blank">GitHub</a>
    </div>
</div>
