---
layout: layouts/page.njk
title: About
eleventyNavigation:
  key: About
  order: 3
---

{% include "blurb-about.njk" %}
<hr>
{% include "blurb-recommendations.njk" %}
<hr>
{% include "blurb-portfolio.njk" %}
<hr>
{% include "blurb-certifications.njk" %}

