---
layout: layouts/page.njk
title: Digital Lagniappe
eleventyNavigation:
  key: Digital-Lagniappe
  order: 4
---

<div class="text-center mb-3">
  <img class="" src="{{ "/img/dl/dl-header.jpg" | url }}" alt="" />
</div>

<p>
  Digital Lagniappe is a software development and technology consulting firm specializing in software development, website development, 
  and custom computers.
</p>

<h3>Lagniappe</h3>
<p>
  In the south (especially Louisiana), lagniappe means “a small gift given to a customer” or more simply “a little something extra”. 
  In business schools across the world, students are taught that businesses should strive to meet or exceed the expectations of their 
  customers. At Digital Lagniappe, we never want to just meet your expectations. We start every project with the purpose of exceeding 
  your expectations. In other words, it’s our goal to always leave you with “a little something extra”.
</p>

<h3>History</h3>
<p>
  Originally founded by 3 friends during their time at Nicholls State University as a computer repair company. It is currently being run 
  by 1 of the original founders (Jeremy Knight) and has changed to focus more on custom software and web development. Hardware has been 
  cut back but custom computers are still built occasionally.
</p>