<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- if title -%}{{title}}&nbsp;|&nbsp;{%- endif -%}{{ metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/icons/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/icons/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/icons/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-coy.min.css" integrity="sha256-pO/fumqgrAT0qA1DpFzDZg5oE3ur2H1xhD8fpTnZoIY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/lux/bootstrap.min.css" integrity="sha256-9BjU0zJ/7P2KTiXbpT0kplks4oc2zLGAlEmxNN18Qsk=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha256-8M+b2Hj+vy/2J5tZ9pYDHeuPD59KsaEZn1XXj3xVhjg=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/css/site.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "ie7dnt8oy4");
    </script>
  </head>
  <body>
    <a class="btn btn-primary skip-nav-link" href="#main-content">Skip Navigation</a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ '/' | url }}">{{ metadata.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav ms-auto">
          {%- for entry in collections.all | eleventyNavigation %}
            {%- if not entry.parentKey -%}
            <li class="nav-item">
              <a class="nav-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
            {%- endif -%}
          {%- endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <main class="container" id="main-content">
      {{ content | safe }}
    </main>

    <footer class="container-fluid bg-dark mb-0 mt-3 py-3" aria-label="social links footer">
      <div class="row">
        <div class="col text-center">
          <a href="{{ '/feed/feed.xml' | url }}" class="text-white px-2" target="_blank" title="RSS Feed"><i class="bi bi-rss-fill fs-2"></i><span class="visually-hidden">RSS Feed</span></a>
          <a rel="me" href="https://github.com/jeremyknight-me/" class="text-white px-2" target="_blank" title="GitHub"><i class="bi bi-github fs-2"></i><span class="visually-hidden">GitHub</span></a>
          <a rel="me" href="https://www.linkedin.com/in/jeremyknight-me/" class="text-white px-2" target="_blank" title="LinkedIn"><i class="bi bi-linkedin fs-2"></i><span class="visually-hidden">LinkedIn</span></a>
          {#
          <a rel="me" href="https://mastodon.social/@jeremyknight" class="text-white px-2" target="_blank" title="Mastodon"><i class="bi bi-mastodon fs-2"></i><span class="visually-hidden">Mastodon</span></a>
          <a rel="me" href="https://twitter.com/jeremyknight_me/" class="text-white px-2" target="_blank"><i class="bi bi-twitter fs-2"></i><span class="visually-hidden">Twitter</span></a>
          #}
          <a rel="me" href="https://www.threads.net/@jeremyknight_me" class="text-white px-2" target="_blank" title="Threads"><i class="bi bi-at fs-2"></i><span class="visually-hidden">Threads</span></a>
          <a rel="me" href="https://www.youtube.com/channel/UC8FicoH5UZFzqBJGfCZrUSA" class="text-white px-2" target="_blank" title="YouTube"><i class="bi bi-youtube fs-2"></i><span class="visually-hidden">YouTube</span></a>
        </div>
      </div>
    </footer>

    <footer class="container-fluid bg-primary text-white my-0 py-3" aria-label="primary footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            {#
            <div class="input-group mb-3">
              <input type="search" class="form-control search-box" placeholder="Search..." aria-label="Search" aria-describedby="button-search-footer">
              <button class="btn btn-dark search-button" type="button" id="button-search-footer">
                <i class="bi bi-search"></i><span class="visually-hidden">Search</span>
              </button>
            </div>
            #}
            <h4 class="text-white">Jeremy Knight</h4>
            <a href="https://ko-fi.com/jeremyknight" target="_blank"><img src="{{ '/img/buy-me-a-coffee.png' | url }}" alt="buy me a coffee" class="w-100"></a>
            <h5 class="text-white mt-3">Pages</h5>
            <div class="d-grid gap-2 mb-3">
              <a class="btn btn-dark" href="{{ '/about/' | url }}">About</a>
              <a class="btn btn-dark" href="{{ '/recommendations/' | url }}">Recommendations</a>
              <a class="btn btn-dark" href="{{ '/tags/presentations/' | url }}">Presentations</a>
              <a class="btn btn-dark" href="{{ '/toolbox/' | url }}">Toolbox</a>
              <a class="btn btn-dark" href="{{ '/privacy/' | url }}">Privacy</a>
            </div>
            {#
            <h5 class="text-white">Links</h5>
            <div class="d-grid gap-2">
              <a class="btn btn-dark" target="_blank" href="https://www.brdnug.org">Baton Rouge .NET User Group</a>
              <a class="btn btn-dark" target="_blank" href="https://www.htdnug.org">Houma-Thibodaux .NET User Group</a>
            </div>
            #}
            <div>
              {% for tag in collections.categoryList %}
                {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                <a href="{{ tagUrl | url }}" title="{{ tag }}"><span class="badge bg-dark">{{ tag }}</span></a>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-4">
            <h4 class="text-white">Tags <a href="{{ '/tags/' | url }}" class="text-muted fs-6">All</a></h4>
            {% for tag, count in collections.tagsByCount %}
              {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
              <a href="{{ tagUrl | url }}" title="{{ tag }} ({{ count }})"><span class="badge bg-dark">{{ tag }}</span></a>
            {% endfor %}
          </div>
          <div class="col-md-4">
            <h4 class="text-white">GitHub Stats</h4>
            <div>
              <img alt="GitHub Statistics" src="https://github-readme-stats.vercel.app/api?username=jeremyknight-me&theme=dark&hide_rank=true&hide_title=true" />
            </div>
            <div class="mt-2">
              <img alt="GitHub Top Languages" src="https://github-readme-stats.vercel.app/api/top-langs/?username=jeremyknight-me&layout=compact&theme=dark&hide_title=true" />
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha256-wMCQIK229gKxbUg3QWa544ypI4OoFlC2qQl8Q8xD8x8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/humanize-duration@3.28.0/humanize-duration.min.js"></script>
    <script src="{{ "/js/app.js" | url }}" type="module"></script>
  </body>
</html>
